/* Подвал */

.footer {
	background-color: $background-footer-color;
	padding-top: 60px;
	padding-bottom: 60px;
}

.footer .container {
	display: flex;
	align-items: baseline;
}

.footer .address {
	margin-top: 20px;
}

.address .list-item:not(:last-child) {
	margin-bottom: 9px;
}
.logo-second {
	color: $primary-white-color;
}

.address .link {
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: $footer-text-color;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address .location.link {
	font-size: 14px;
	font-style: normal;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: $primary-white-color;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address .link:hover,
.address .link:focus {
	background-color: $accent-color;
}

.address .location.link:hover,
.address .location.link:focus {
	background-color: $accent-color;
}

.footer-left {
	margin-right: 70px;
}

.footer-middle {
	margin-right: 93px;
}

.footer-right {
	margin-left: auto;
}

.list.socials {
	display: flex;
}

.footer .social-icon {
	fill: $primary-white-color;
}

.footer .socials-list-item {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
}

.socials-list-item:not(:last-child) {
	margin-right: 10px;
}

.footer .button {
	display: flex;
	margin-left: 12px;
	margin-top: 0px;
}

.action {
	display: flex;
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.1;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $primary-white-color;
}

.form {
	display: flex;
	align-items: center;
}

.footer-form-input {
	padding: 16px 15px;
	width: 358px;
	height: 50px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	color: $footer-text-color;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	background-color: $background-footer-color;
	border-radius: 4px;
	font-family: inherit;
	font-size: 100%;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.03em;
}

.footer-icon {
	margin-left: 10px;
	align-self: center;
}
